<a href="https://colab.research.google.com/github/shytsko/PythonHomeWork/blob/main/%D0%94%D0%97_%D1%81%D0%B5%D0%BC%D0%B8%D0%BD%D0%B0%D1%80_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание

Проанализировать датасет по цветам ириса:


*   Сколько в нем строк и столбцов?
*   Сколько сортов ириса (следует выбрать столбец и использовать метод **unique**)?
*   Есть ли пустые значения?
*   Максимальное значение **sepal_width**.
*   Минимальное значение **sepal_length**.
*   Среднее значение **petal_width**.
*   Вывести общую таблицу описательной статистике.

Выполненное задание следует загрузить на ***платформу***

**sepal_length** - Длина чашелистика цветка

**sepal_width** - Ширина чашелистика цветка

**petal_length** - Длина лепестка

**petal_width** - Ширина лепестка

**species** - Сорт цветка

In [4]:
# Стартовый код
import seaborn as sns

df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
# Сколько строк и столбцов?
df.shape

# Строк - 150
# Столбцов - 5

(150, 5)

In [9]:
# Сколько сортов ириса?
len(df['species'].unique())

# Сортов ириса - 3

3

In [13]:
# Есть ли пустые значения?
df.isnull().sum()

# Пустых значений нет

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
# Максимальное значение sepal_width.
df['sepal_width'].max()

# Максимальное значение sepal_width - 4.4

4.4

In [15]:
# Минимальное значение sepal_length.
df['sepal_length'].min()

# Минимальное значение sepal_length - 4.3

4.3

In [16]:
# Среднее значение petal_width.
df['petal_width'].mean()

# Среднее значение petal_width - 1.1993333333333336

1.1993333333333336

In [17]:
# Вывести общую таблицу описательной статистике.
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000